@import "../../../styles/theme";

$alpha: map-get($theme, alpha);

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ecf5fd;

  .header {
    width: 100%;
    flex-basis: 87px;

    .header-content {
      padding: 0 125px;
      height: 87px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      svg-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .publication {
        font-size: 16px;
        color: #848484;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .data {
    height: calc(100% - 87px);
  }
}
