@import "@teh-lab/angular-uikit/fonts/icons.css";
@import "@teh-lab/angular-uikit/fonts/clear-sans.css";
@import "@teh-lab/angular-uikit/theming/_palette.scss";
@import "@teh-lab/angular-uikit/theming/_fonts.scss";
@import "./styles/theme";

@include tl-palette($theme);
@include tl-fonts();

html,
body {
  height: 100%;
  overflow: hidden;

  &,
  h1 {
    margin: 0;
  }

  app-questionnaire {
    .answer {
      tl-radio {
        .container {
          padding-left: 26px;
          margin-bottom: unset;

          .checkmark {
            width: 16px;
            height: 16px;

            &::after {
              top: 4px !important;
              left: 4px !important;
            }
          }
        }
      }
    }
  }
}